@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}





nav{
    /* position: sticky; */
    top: 0px;
    margin-top:10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #000000;
    background-color: white;
    padding: 10px 7.5%;
    box-shadow: rgba(33,35, 38, 0.1) 0px 10px 10px -10px;
    
}

.logo img{
    display: flex;
    align-items: center;
    width: 110px;
    height: auto;
    cursor: pointer;
}

.nav-link{
    display: flex;
    align-items: center;
}

.nav-link a{
    color: #000000;
    margin: 0 20px;
    transition: all 0.6s;
}

.nav-link i{
    margin-left: 50px;
    transition: all 0.6s;
    color: #000000;
}
.menu-icon{
    position: absolute;
    right: 40px;
    top: 40px;
    display: none;
    color: rgb(0, 0, 0);
}

.nav-link i:hover{
    cursor: pointer;
    color: #57a617;
}

.nav-link a:hover{
    cursor: pointer;
    color: #57a617;
}



@media (max-width:850px){
    

    .logo{
        position: absolute;
        top: 5px;
        left: 30px;
    }

    .nav-link{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #325318;
        margin-top: -2000px;
        transition: all 0.5s ease;
    }
    .nav-link a{
        color: rgb(255, 255, 255);
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%; 
    }
    .nav-link li{
        margin: 30px auto;
    }

    .nav-link i{
        margin: 30px auto;
        color: #fff;
    }

    .menu-icon {
        /* position: fixed; */
        top: 10px;
        right: 10px;
        display: block;
        color: #000000;
        cursor: pointer;
    }

    .page-header {
        margin-top: 10px;
    }


}


.Home1 {
    position: relative;
    right: 15px;
}

.Home2 {
    position: relative;
    left: -10px;
}

.Home3 {
    position: relative;
    left: -5px;
}

@media screen and (max-width:990px) {
    .Home1 {
        position: relative;
        right: 0px;
    }
    
    .Home2 {
        position: relative;
        left: 0px;
    }
    
    .Home3 {
        position: relative;
        left: 0px;
    }
}




.page-header {
    /* background: linear-gradient( #b6e192,rgb(107, 107, 107)), center center no-repeat; */
    background-image: url(/about-us/images/about.jpg);
    background-size: cover;
    background-position: center;
}

/* #hero .carousel-item::before {
    content: "";
    background-color: rgba(13, 30, 45, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  } */

.breadcrumb-item + .breadcrumb-item::before {
    color: black;
}

.breadcrumb-item a {
    color: #000000;
    font-weight: 700;
}

@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

.abt-box {
    background: #e8ede4;
}

.abt-box p {
    color: black;
}






/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    padding-bottom: 30px;
  }
  
  .counts .count-box {
    /* box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1); */
    padding: 30px;
    /* background: #fff; */
    margin-bottom: 0px;
  }
  
  .counts .count-box i {
    display: block;
    font-size: 64px;
    margin-bottom: 15px;
  }
  
  .counts .count-box span {
    font-size: 42px;
    display: block;
    font-weight: 700;
    color: rgb(54, 54, 54);
  }
  
  .counts .count-box p {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 19px;
  }

  .nexge {
    margin-left: 150px;
  }

  @media (max-width: 768px) {
    .nexge {
      margin-left: 0px;
    }
  }

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
    padding: 12px 0;
    text-align: center;
  }
  
  .clients img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    /* filter: grayscale(100); */
    width: 150px;
    height: 150px;
  }
  
  .clients img:hover {
    filter: none;
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .clients img {
      max-width: 40%;
    }
  }


.footer{
	background-color: #24262b;
    padding: 70px 4%;
    margin-top: 10%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #57a617;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    margin-left: -30px;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #57a617;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 100px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
@media(max-width: 961px){
    .footer{
        background-color: #24262b;
        padding: 70px 4%;
        margin-top: 30%;
    }
}
@media(max-width: 900px){
    .footer{
        margin-top: 65%;
    }
}