@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #57a617;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #000000;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}






/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
ul{
  list-style: none;
}

a{
  text-decoration: none;
  display: inline-block;
}

nav{
  /* position: sticky; */
  top: 0px;
  margin-top:10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #000000;
  background-color: white;
  padding: 10px 7.5%;
  box-shadow: rgba(33,35, 38, 0.1) 0px 10px 10px -10px;
  
}

.logo img{
  display: flex;
  align-items: center;
  width: 110px;
  height: auto;
  cursor: pointer;
}

.nav-link{
  display: flex;
  align-items: center;
}

.nav-link a{
  color: #000000;
  margin: 0 20px;
  transition: all 0.6s;
}

.nav-link i{
  margin-left: 50px;
  transition: all 0.6s;
  color: #000000;
}
.menu-icon{
  position: absolute;
  right: 40px;
  top: 40px;
  display: none;
  color: rgb(0, 0, 0);
}

.nav-link i:hover{
  cursor: pointer;
  color: #57a617;
}

.nav-link a:hover{
  cursor: pointer;
  color: #57a617;
}



@media (max-width:850px){
  

  .logo{
      position: absolute;
      top: 5px;
      left: 30px;
  }

  .nav-link{
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: center;
      background-color: #325318;
      margin-top: -2000px;
      transition: all 0.5s ease;
  }
  .nav-link a{
      color: rgb(255, 255, 255);
  }
  .mobile-menu{
      margin-top: 0px;
      border-bottom-right-radius: 30%; 
  }
  .nav-link li{
      margin: 30px auto;
  }

  .nav-link i{
      margin: 30px auto;
      color: #fff;
  }

  .menu-icon {
      /* position: fixed; */
      top: 10px;
      right: 10px;
      display: block;
      color: #000000;
      cursor: pointer;
  }

  .page-header {
      margin-top: 10px;
  }


}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.section-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.section-title h2 {
  font-size: 42px;
  font-weight: 700;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.member-img img {
  height: 250px;
  width: 350px;
}


.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member .member-info a {
  font-size: 14px;
  line-height: 26px;
  color: #151ece;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer{
	background-color: #24262b;
    padding: 70px 4%;
    margin-top: 10%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #57a617;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #57a617;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 100px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
@media(max-width: 961px){
    .footer{
        background-color: #24262b;
        padding: 70px 4%;
        margin-top: 30%;
    }
}
@media(max-width: 900px){
    .footer{
        margin-top: 65%;
    }
}