@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;300;400;500;600;700&display=swap');


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background-color: #F5F9FC;
}

a {
  text-decoration: none;
}





/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #57a617;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  height: 40px;
  padding: 0;
}

#topbar .contact-info a {
  line-height: 0;
  color: #000;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #57a617;
}

#topbar .contact-info i {
  color: #000;
  line-height: 0;
  margin-right: 5px;
}

#topbar .contact-info .bi-whatsapp {
  margin-left: 15px;
}

#topbar .social-links a {
  color: #000;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #57a617;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  background: #fff;
  z-index: 997;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06);
}




#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 30px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active:focus,
.navbar li:hover>a {
  color: #57a617;
}

.navbar i { 
  transition: 0.3s;
  padding: 10px;
}

.navbar i:hover { 
  cursor: pointer;
  color: #57a617;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #000;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(31, 53, 72, 0.9);
  transition: 0.3s;
  z-index: 998;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #325318;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #57a617;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 110px);
  padding: 0;
  overflow: hidden;
  background: #000;
}

#hero .carousel-item {
  width: 100%;
  height: calc(100vh - 110px);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
}



#hero .carousel-item::before {
  content: "";
  background-color: #0d1e2d99;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}



#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#hero .carousel-content {
  text-align: left;
}

@media (max-width: 992px) {

  #hero,
  #hero .carousel-item {
    height: calc(100vh - 70px);
  }

  #hero .carousel-content.container {
    padding: 0 50px;
  }
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0;
  background: #000;
}

#hero .btn-get-started:hover {
  background: #57a617;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (max-height: 500px) {

  #hero,
  #hero .carousel-item {
    height: 120vh;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f5f9fc;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #000;
}


.section-title button {
  padding: 10px 10px;
  border-radius: 50px;
  margin-top: 20px;
  border: none;
  transition: 0.5s;
}

.section-title button:hover {
  background-color: #57a617;
  color: #000;
}

.section-title span {
  color: #57a617;
}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  padding-bottom: 30px;
}

.about .container {
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
  height: 80vh;
}

.about .video-box img {
  padding: 15px 0;
}

.about .section-title p {
  text-align: left;
  font-style: normal;
  color: #000;
}


.about .about-content {
  padding: 40px;
}


.about .video-box {
  position: relative;
  top: 40px;
}

@media screen and (max-width:1200px) {
  .about .container {
    height: 120vh;
  }
}

@media screen and (max-width:980px) {
  .about .container {
    height: 150vh;
  }
}

@media screen and (max-width:530px) {
  .about .container {
    height: 160vh;
  }
}
@media screen and (max-width:400px) {
  .about .container {
    height: 195vh;
  }
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-bottom: 30px;
}

.counts .count-box {
  /* box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1); */
  padding: 30px;
  /* background: #fff; */
  margin-bottom: 0px;
}

.counts .count-box i {
  display: block;
  font-size: 64px;
  margin-bottom: 15px;
}

.counts .count-box span {
  font-size: 42px;
  display: block;
  font-weight: 700;
  color: rgb(54, 54, 54);
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.serv-p {
  font-size: 14px;
}



/* .product_wrapper Section */



#product_wrapper{
  padding: 5px 10%;
  margin-top: 2%;
}
#product_wrapper h1{
 text-align: center;
 margin-bottom: 5%;
 font-size: 35px;
 font-weight: 600;
 color: #000;
}

#product_wrapper .details{
  margin-bottom: 1%;
}
#product_wrapper .details .Disp{
  padding: 10px 10px;
  margin-right: 1%;
  border-radius: 50px;
  border: none;
  transition: 0.5s;
}

#product_wrapper .details .Disp:hover{
  background-color: #57a617;
  cursor: pointer;
  color: whitesmoke;
}

.product_wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.product_wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.product_wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.product_wrapper i:hover{
  background: #f2f2f2;
}
.product_wrapper i:first-child{
  left: -22px;
  display: none;
}
.product_wrapper i:last-child{
  right: -22px;
}

.product_wrapper .cup{
  width: 300px;
  height: 250px;
}

.product_wrapper img:hover{
  opacity: 0.5;
}

.product_wrapper .caro_usel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.caro_usel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.caro_usel.dragging img{
  pointer-events: none;
}
.caro_usel img{
  height: 200px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.caro_usel img:first-child{
  margin-left: 0px;
}

#product_wrapper .see-more{
  text-align: center;

}

.see-more button{
  margin-top: 2%;
  margin-bottom: 2%;
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  background-color: whitesmoke;
  border-radius: 20px;
  color: #000000;
  transition: 0.5s;
}

.see-more button:hover {
  background-color: #57a617;
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  .caro_usel img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .caro_usel img{
    width: 100%;
  }
}

@media (max-width: 500px) {
  #product_wrapper {
      margin-top: 850px;
  }
}

@media (max-width: 875px) {
  #product_wrapper {
      margin-top: 250px;
  }
}

@media (max-width: 705px) {
  #product_wrapper {
      margin-top: 550px;
  }
}

@media (max-width: 380px) {
  #product_wrapper {
      margin-top: 850px;
  }
}
@media (max-width: 415px) {
  #product_wrapper {
      margin-top: 150px;
  }
}



/* wrapper Section Start Here */

.recent-photos {
  overflow: hidden;
}

.recent-photos .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.recent-photos .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 0.5px solid black;
}

.recent-photos .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #57a617;
}

.recent-photos .owl-nav,
.recent-photos .owl-dots {
  margin-top: 25px;
  text-align: center;
}

.recent-photos .owl-item {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.recent-photos .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #95d3ff !important;
}

.recent-photos .owl-dot.active {
  background-color: #006fbe !important;
}

.recent-photos .gallery-carousel .owl-stage-outer {
  overflow: visible;
}

.recent-photos .gallery-carousel .center {
  border: 6px solid #006fbe;
  margin: -10px;
  box-sizing: content-box;
  padding: 4px;
  background: #fff;
  z-index: 1;
}

.gallery-btn button{
  background-color: #57a617;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding-bottom: 30px;
}

.faq .faq-item {
  margin-bottom: 40px;
}

.faq .faq-item h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #1f3548;
}





/* CTA section */

.cta {
  margin-top: 50px;
  padding: 30px 0;
  background: #779361;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #ed502e;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #ed502e;
  border: 2px solid #ed502e;
}


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 12px 0;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  /* filter: grayscale(100); */
}

.clients img:hover {
  /* filter: none; */
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
/* #contact {
  margin-top: 0px;
}

.contact .contact-about h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color: #222222;
}

.contact-about img {
  width: 400px;
  height: auto;
}

@media screen and (max-width:450px) {
  .contact-about img {
    margin-left: -25px;
  }
}

@media (min-width:500px) and (max-width:800px) {
  .contact-about img {
    width: 500px;
    height: auto;
  }
}



.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #888;
}

.contact .social-links {
  padding-bottom: 20px;
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #3498db;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #3498db;
}

.contact .social-links a:hover {
  background: #3498db;
  color: #fff;
}

.contact .info {
  color: #000000;
}

.contact .info i {
  font-size: 32px;
  color: #57a617;
  float: left;
  line-height: 1;
}

.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}




.contact .form-group {
  margin-bottom: 20px;
  border: 1px solid rgb(160, 159, 159);
  border-radius: 10px;
}

.contact input,
.contact textarea {

  border-radius: 10px;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;

}



.contact  button[type=submit] {
  background: #57a617;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact button a{
  color: #fff;
} */


/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
#contact {
  background-color: #F5F9FC;
}


.contact .info-container {
  /* background-color: #fff; */
  height: 100%;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  /* box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1); */
}

.contact .info-item {
  width: 100%;
  background-color: #009282;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.contact .info-item:last-child {
  margin-bottom: 0;
}

.contact .info-item i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  /* background-color: rgba(255, 255, 255, 0.2); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h4 {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  /* background: #fff; */
  color: var(--color-primary);
}

.contact {
  width: 100%;
  height: 100%;
  /* background: #fff; */
  /* box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1); */
  padding: 30px;
  border-radius: 0 10px 10px 0;
}

.contact .form-group {
  /* background-color: #F5F9FC; */
  padding-bottom: 8px;
}

.form-control {
  background-color: #F5F9FC;
}

form {
  margin-top: 20px;
}

.contact input,
.contact textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact input[type=text],
.contact input[type=email],
.contact textarea {
  padding: 12px 15px;
}

.contact input[type=text]:focus,
.contact input[type=email]:focus,
.contact textarea:focus {
  border-color:#000;
}

.contact textarea {
  padding: 10px 12px;
}

.contact button[type=submit] {
  background: #000;
  border: 0;
  padding: 14px 45px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact button[type=submit]:hover {
  background: #57a617;
}





#footer {
  background: #24262b;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #24262b;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #827e7e;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #57a617;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #57a617;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #57a617;
}

